.input_contact {
  background: none;
  border-bottom: 1px solid white;
  width: 100%;
  height: 3rem;
}

.footer {
  background-image: url("https://res.cloudinary.com/dvzingci9/image/upload/v1691020335/videos/Contact_h8cs0g.png");
  background-repeat: no-repeat;
  background-size: cover;
}
